.burger_constructor {
  width: 600px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  margin-top: 60px;
}

.container_empty {
  min-height: calc(100vh - 410px);
  padding-right: 0;
  margin-right: 0;
  border: 4px rgba(35, 1, 129, 0.698) dotted;
}

.burger_sum {
  padding-top: 40px;
  padding-left: 40px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-end;
}

.currency {
  align-items: center;
  flex-direction: row;
  display: flex;
  column-gap: 8px;
}
