.profile_section {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  column-gap: 80px;
  margin-top: 120px;
  margin-left: 120px;
}

.profile_wrapper {
  max-width: 320px;
}

.profile_nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  row-gap: 48px;
  margin-bottom: 80px;
}

.profile_inputs {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: 0;
  padding-top: 0;
  gap: 24px;
}

.link_active {
  color: rgba(242, 242, 243, 1);
  text-decoration: none;
}

.link_disactive {
  text-decoration: none;
  color: rgba(133, 133, 173, 1);
}
