.order_section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  position: relative;
  box-sizing: border-box;
}

.order_number {
  align-items: center;
  text-shadow: 0px 0px 16px rgba(51, 51, 255, 0.25),
    0px 0px 8px rgba(51, 51, 255, 0.25), 0px 4px 32px rgba(51, 51, 255, 0.5);
}

.order_img {
  width: 120px;
  height: 120px;
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 60px;
  margin-bottom: 60px;
  border: none;
}
