/* Styles for the modal content */
.modal_content {
  background-color: var(---background, #1c1c21);
  border-radius: 40px;
  box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.04),
    0px 4px 8px 0px rgba(0, 0, 0, 0.04), 0px 16px 24px 0px rgba(0, 0, 0, 0.04),
    0px 24px 32px 0px rgba(0, 0, 0, 0.04);
  border: 1px solid var(--interface-modal-edge, rgba(76, 76, 255, 0.2));
  padding: 40px;
  width: 720px;
  height: 538px;
  text-align: center;
  position: fixed;
  transform: translate(-20%, -15%);
}

/* Styles for the close button */
.close_button {
  position: absolute;
  top: 40px;
  right: 40px;
  cursor: pointer;
  font-size: 20px;
  background-color: transparent;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}

/* Additional styles for modal content, like title and content */
.modal_title {
  font-size: 24px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: flex-start;
  margin: calc((--offset-base-size) * 10);
}

.modal_content_text {
  font-size: 16px;
}

/* Style to hide the scrollbar when modal is open */
body.modal_open {
  overflow: hidden;
}
