.reset_password {
  margin-top: 180px;
  display: flex;
  row-gap: 24px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.reset_password_title {
  text-align: center;
  display: flex;
  justify-content: center;
}

.reset_password_paragraph {
  margin-top: 80px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 8px;
}
