.ingredient_section {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.ingredient_title {
  align-self: center;
  display: flex;
  margin-top: calc(var(--offset-base-size) * 4);
  margin-bottom: calc(var(--offset-base-size) * 8);
}

.ingredient_ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
  gap: calc(var(--offset-base-size) * 5);
}

.ingredient_li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: calc(var(--offset-base-size) * 2);
}

.ingredient_image {
  width: 480px;
  height: 240px;
  align-items: center;
}
