.burger_ingredients {
  box-sizing: border-box;
  overflow: auto;
  flex-direction: row;
}

.container {
  width: 600px;
  height: 756px;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
}

.container::-webkit-scrollbar {
  width: 12px;
}

.container::-webkit-scrollbar-thumb {
  background: #8585ad;
  border: 3px solid #2f2f37;
  border-radius: 6px;
}

.ingredients {
  max-width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 24px;
  padding-right: 24px;
}

.ingredient_title {
  padding-top: 24px;
}

.burger_title {
  padding-left: 0;
  margin-bottom: 20px;
}
